.e-con {
  --container-max-width: 100% !important;
}

.borderStyles {
  @apply rounded-[20px] border-2 border-gray-100;
}

.responsive-margin {
  margin-left: 0;

  @media (min-width: 1024px) {
    margin-left: calc((100vw - 1024px) / 2);
  }

  @media (min-width: 1280px) {
    margin-left: calc((100vw - 1280px) / 2);
  }
}

.h2 {
  @apply text-[32px] font-bold text-primary;
}

.btn-primary {
  @apply px-4 py-2 border-2 border-black rounded-full bg-primary text-light hover:bg-light hover:text-primary hover:border-primary;
}

.btn {
  @apply max-h-[49px] px-4 py-2 border-2 border-black rounded-full text-primary hover:bg-black hover:text-white;
}

.btn-rounded-base {
  @apply w-14 h-14 text-center cursor-pointer bg-no-repeat bg-center border-0 rounded-full leading-none transition-all ease-in-out duration-200;

  padding: 12px;
  transition: background-position .15s cubic-bezier(.47, 0, .745, .715), background-color .2s, color .2s;
}

.btn-rounded {
  @apply w-14 h-14 text-center cursor-pointer bg-no-repeat bg-center border-0 rounded-full leading-none transition-all ease-in-out duration-200 bg-gray-200;

  padding: 12px;
  transition: background-position .15s cubic-bezier(.47, 0, .745, .715), background-color .2s, color .2s;
  background-size: 16px 14px;
}

.btn-rounded-dark {
  @apply w-14 h-14 text-center cursor-pointer bg-no-repeat bg-center border-0 rounded-full leading-none transition-all ease-in-out duration-200 bg-primary;

  padding: 12px;
  transition: background-position .15s cubic-bezier(.47, 0, .745, .715), background-color .2s, color .2s;
  background-size: 18px 17px;
}

.btn-rounded-sm {
  @apply w-[39px] h-[39px] text-center cursor-pointer bg-no-repeat bg-center border-0 rounded-full leading-none transition-all ease-in-out duration-200 bg-gray-200;

  padding: 12px;
  transition: background-position .15s cubic-bezier(.47, 0, .745, .715), background-color .2s, color .2s;
  background-size: 11px 11px;
}

.btn-rounded:hover,
.btn-rounded-sm:hover {
  @apply text-white bg-gray-300;
  background-position: 60%;
}

.next {
  background-image: url(./assets/img/arrow-right.svg);
}

.next:hover {
  background-position: 60%;
}

.prev {
  background-image: url(./assets/img/arrow-left.svg);
}

.prev:hover {
  background-position: 40%;
}

.btn-light {
  @apply px-4 py-2 rounded-full bg-light text-primary hover:bg-gray-300;
}

.swiper-pagination-bullet {
  border-radius: 0% !important;
  width: 100% !important;
  height: 4px !important;
  background: rgba(154, 154, 154, 0.2) !important;
}

.swiper-pagination-bullet-active {
  background: rgb(154, 154, 154) !important;
}

.active {
  @apply bg-gray-200 rounded-t-lg text-primary px-9;
}